.addAudioButton {
  background-color: #FAF9DC;
  border: none;
  color: #3a3a3a;
  padding: 10px 15px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.topBuffer{
  margin-top: 15px;
}

.alignRight{
  float: right;
}
.alignMiddle{
  text-align: center;
}

.block{
  background-color: #565656;
  margin: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #727272;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 10px;
  max-height: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #8c8c8c;
}

.advanced{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panelRow{
  margin-top: 5px;
}


.blocktext{
  margin-left: 0px;
}

.picker {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}

.pickerButton{
  background-color: #02cc1a;
  border: none;
  padding: 10px 15px;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 2px;
}

.panelSelected{
  background-color: #4f688e;
}

.upload {
  background-color: #000000;
}
.drop {
  background-color: #111111;
}

body {
  background-color: #3a3a3a;
  color: #FAF9DC;
  font-family: "Arial", Times, Sans-serif;
}
